body{
    background-color: rgb(24, 24, 54);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.container{

    width: 100vw;
    aspect-ratio: 6/3;
    background-color: rgb(24, 24, 54);
    /* background-color: red; */
    /* padding: 12%; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.shadow{
    background-image: url('Asset1.svg');
    background-repeat:no-repeat;
    height: 70vh;
    aspect-ratio: 1/1;
    animation: rotate 108s linear infinite;

}
.chakra{
    background-image: url('Asset3.svg');
    background-repeat:no-repeat;
    height: 67vh;
    aspect-ratio: 1/1;
    

}
.flexy{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.ha{
    height: 25vh;
    aspect-ratio: 1/1;
    animation: rotateAnticlockwise 108s linear infinite;

}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes rotateAnticlockwise {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  @media (max-width:768px){
    .shadow{
        height: 50vh;

    }
    .chakra{
        height: 47vh;

    }
    .ha{
        height: 18vh;

    }
  }